<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>sinatra and shotgun</title>
    <div style='border: 3px dashed red;  '>
      <img src='http://bit.ly/1eze8aE'>

      <h1>Hello <%=["Amigo", "Oscar", "Viking"].sample%></h1>
    </div>
  </head>
  <body>

  </body>
</html>
